.slider__title {
  position: relative;
  left: 40px;
  margin-bottom: 15px;
}

.slide-container {
  max-width: 1380px;
  width: 100%;
  padding: 40px 20px;
  margin-bottom: 4rem;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  /* border-radius: 25px; */
}
.card {
  border: none;
  /* border-radius: 25px; */
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px 14px; */
}

.image-content {
   padding: 10px 14px;
}

.card-content {
  width: 289.75px;
  padding: 10px 0px;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 289.75px;
  height: 289.75px;
  position: relative;
  border: 1px solid rgb(224, 224, 224);
}

.slider__image {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-bottom: 1rem;
}

.slider__image:hover {
  transform: scale(1.08);
  transition: 0.8s;
}

.slider__desire__List {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 10px;
  left: 15px;
  width: 100%;
  z-index: 1000;
}

.slider__heart {
  background-color: #f3f3f3;
  padding: 4px;
  color: #1745c2;
  border-radius: 50px;
}

.slider__desire_text {
  font-size: 0.75rem;
  margin-left: 10px;
  font-weight: 700;
}

.slider__button__image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-left: 0.625rem;
  margin-bottom: 0.625rem;
  background-color: #f4cb11;
  font-size: 0.7rem;
  padding: 0.3rem 0.5rem;
}

.slider__name {
  font-size: 1rem;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0px;
}

.slider__stars {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.slider__star {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 0.0625rem;
}

.slider__price {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  margin-bottom: 10px;
}

.slider__button {
  /* display: block; */
  width: 100%;
  padding: 0.9375rem;
  border-style: solid;
  border-radius: 4px;
  border-collapse: collapse;
  text-align: center;
  background-color: rgb(253, 128, 36);
  border-color: rgb(253, 128, 36);
  color: rgb(0, 0, 0);
  position: relative;
  border-width: 2px;
}
.slider__button:hover {
  background: #ffffff;
}

.swiper-navBtn {
  color: #000000;
  padding: 20px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 170px;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  border-radius: 30px;
  background-color: rgb(234, 234, 234);
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 25px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-scrollbar {
  background-color: rgb(180, 180, 180);
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  border-radius: 0px;
  height: 5px;
  width: 900px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
  .slider__title {
  
  left: 10px;
  
}
}
